.consult {

	&__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 70px;
    @media(max-width: $md3+px){
      flex-direction: column;
    }
    @media(max-width: $md4+px){
      padding-top: 40px;
      padding-bottom: 46px;
    }
	}

}

._container {

}

.consult-item {
  & .btn{
    width: 160px;
    height: 52px;
    cursor: pointer;
    padding: 15px 40px;
    @media(max-width: $md3+px){
      margin-top: 50px;
    }
  }
  &:last-child{
    width: 280px;
  }
}

.consult-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  @media(max-width: $md3+px){
    width: 280px;
    margin: 0 auto;
  }
}

.consult-subtitle {
  margin-top: 10px;
  color: #737373;
  line-height: 20px;
  letter-spacing: 0.2px;
  @media(max-width: $md3+px){
    font-weight: 500;
    display: block;
    max-width: 200px;
    color: #252B42;
  }
}
