//====================================================================================================
.footer{
  min-height: 272px;
  background: #252B42;
  &__content{
    padding-top: 50px;
  }
  &__box{
    display: flex;
    align-items: flex-start;
    @media(max-width: $md2+px){
      flex-wrap: wrap;
    }
    @media(max-width: $md3+px){
      flex-direction: column;
      align-items: flex-start;
    }
    @media(max-width: $md4+px){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__item{
    position: relative;
    @media(max-width: $md2+px){
      margin: 0;
      width: 50%;
      justify-content: center;
      align-items: center;
    }
    @media(max-width: $md3+px){
      margin: 0 auto;
      margin-top: 55px;
      width: 250px;
      display: flex;
    }
    @media(max-width: $md4+px){
      margin-left: 0;
    }
    &:nth-child(2){
      @include adaptiv-value('margin-left', 63, 15, 1);
      @media(max-width: $md2+px){
        margin: 0;
      }
      @media(max-width: $md3+px){
        margin: 30px auto 0px;
      }
      @media(max-width: $md4+px){
        margin-left: 0;
      }
    }
    &:nth-child(3){
      @include adaptiv-value('margin-left', 82, 15, 1);
      @media(max-width: $md2+px){
        margin: 0;
        margin-top: 15px;
      }
      @media(max-width: $md3+px){
        margin: 30px auto 0px;
      }
      @media(max-width: $md4+px){
        margin-left: 0;
      }
    }
    &:nth-child(4){
      @include adaptiv-value('margin-left', 32, 15, 1);
      @media(max-width: $md2+px){
        margin: 0;
        margin-top: 15px;
      }
      @media(max-width: $md3+px){
        margin: 30px auto 0px;
      }
      @media(max-width: $md4+px){
        margin-left: 0;
      }
    }
    &:nth-child(5){
      @include adaptiv-value('margin-left', 72, 15, 1);
      @media(max-width: $md2+px){
        margin: 0;
        margin-top: 15px;
      }
      @media(max-width: $md3+px){
        margin: 30px auto 0px;
      }
      @media(max-width: $md4+px){
        margin-left: 0;
      }
    }
  }
  &__suptitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    @media(max-width: $md2+px){
      margin: 0 auto;
      padding: 0px 25px;
      width: 200px;
    }
    @media(max-width: $md3+px){
      padding: 0;
      width: 160px;
    }
  }
  &__refs{
    position: relative;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: $md2+px){
      &._fix {
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }
    }
  }
  &__link{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    transition: all 0.3s ease;
    &:hover{
      text-decoration: underline;
    }
  }
  &-icon{
    font-size: 22px;
    color: #fff;
    @media (max-width: $md2+px){
      color: #23A6F0;
    }
  }
  &_get{
    display: flex;
    flex-direction: column;
    @media (max-width: $md2+px){
      width: 300px;
    }
  }
}

.refs-box{
  @media (max-width: $md2+px){
    width: 300px;
  }
}

.link{
  &-map{
    margin-left: 14px;
  }
  &-tel{
    margin-left: 12px;
  }
  &-mail{
    margin-left: 10px;
  }
}
._icon-arrow-down{
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  margin-left: 5px;
  transition: all 0.3s ease;
  @media(min-width: $md2+px){
    padding-left: 6px;
    display: none;
  }
  &._active{
    transform: rotate(-180deg);
  }
}
._icon-tel{
  font-size: 23px;
}
._icon-map{
  padding-left: 2px;
  font-size: 24px;
}
._icon-message{
  font-size: 20px;
}

.refs-box{
  margin-top: 10px;
  display: flex;
}

.subfooter {
  margin-top: 52px;
  background: #FAFAFA;
  height: 74px;
  @media (max-width: $md3+px){
    background: #252B42;
    margin-bottom: 110px;
  }
}
.subfooter__content{
  display: flex;
  align-items: center;
  max-width: 1090px;
  padding-top: 32px;
  @media (max-width: $md3+px){
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
  }
  @media (max-width: $md4+px){
    flex-direction: column;
    align-items: flex-start;
  }
}
.subfooter-item {
  width: 100%;
  @media (max-width: $md3+px){
    width: 252px;
  }
  &:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: center;
    @media (max-width: $md3+px){
      margin-top: 55px;
    }
    @media (max-width: $md4+px){
      justify-content: flex-start;
    }
  }
}

.subfooter-rule {
  font-weight: 600;
  line-height: 24px;
  color: #737373;
  letter-spacing: 0.2px;
  @media (max-width: $md3+px){
    color: #fff;
  }
}

._icon-facebook {
  font-size: 23px;
  color: #23A6F0;
  transition: all 0.3s ease;
  &:hover{
    color: #edd645;
  }
  @media (max-width: $md3+px){
    color: #335BF5;
  }
}

._icon-inst {
  font-size: 23px;
  color: #23A6F0;
  @include adaptiv-value('margin-left', 22, 20, 1);
  transition: all 0.3s ease;
  &:hover{
    color: #edd645;
  }
  @media (max-width: $md3+px){
    color: #E61F5A;
  }
}

._icon-twitter {
  font-size: 23px;
  color: #23A6F0;
  @include adaptiv-value('margin-left', 22, 20, 1);
  transition: all 0.3s ease;
  &:hover{
    color: #edd645;
  }
  @media (max-width: $md3+px){
    color: #21A6DF;
  }
}

.media{
  display: none;
  margin-left: 20px;
  font-size: 23px;
  @media (max-width: $md3+px){
    display: block;
  }
}

._icon-facebook {
  cursor: pointer;
}

._icon-inst {
  cursor: pointer;
}

._icon-twitter {
  cursor: pointer;
}

._icon-youtube {
  cursor: pointer;
}




//====================================================================================================
