//====================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: all 0.4s ease;
	&._scroll{
		background: #252B42;
	}
}
.header__container {
	max-width: 1130px;
	margin: 0px auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;
	min-height: 91px;
  @media (max-width: $md3+px){
    justify-content: space-between;
			min-height: 70px;
  }
  @media (max-width: $md4+px){
    padding: 0 15px;
  }
  @media (min-width: $md3+px) and (max-width: $md2+px){
    justify-content: space-between;
  }
}
.header__logo {
	position: relative;
	z-index: 5;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.header__menu {
  @include adaptiv-value('margin-left', 62, 15, 1);
}
.menu {
  display: flex;
  align-items: center;
}
.menu__icon {
	display: none;
  @media (max-width: $md3+px){
    @include adaptiv-value('margin-left', 30, 25, 1);
  }
}
.menu__body {
}
.menu__list {
}
.menu_action{
  display: flex;
  color: #fff;
  font-size: 24px;
  @media (min-width: $md3+px){
    display: none;
  }
}
.menu__login{
  display: flex;
  justify-content: center;
  align-items: center;
  @include adaptiv-value('margin-left', 235, 25, 10);
  @media (max-width: $md2+px){
    display: none;
  }
}
.menu__login-text{
  font-weight: 700;
}
.btn-text{
  color: #fff;
  margin-right: 45px;
  &:hover{
    text-decoration: underline;
  }
}
._icon-arrow{
  margin-left: 15px;
  color: #fff;
  font-size: 12px;
}
.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 21px;
}
.menu__link {
	color: #fff;
  font-weight: 600;
}
.menu__link:hover {
	text-decoration: underline;
}


/* ----------------------- */
@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		padding: 10px 0;
	}
}
@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: "";
    height: 2px;
	}
	.menu__icon::before {
		top: 0;
    margin-left: 7px;
    width: 23px;
	}
	.menu__icon::after {
		bottom: 0;
    width: 12px;
    margin-left: 18px;
	}
	.menu__icon span {
		top: 50%;
    width: 17px;
    margin-left: 13px;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform:  translateX(-15px);
	}
	.menu__icon._active::before {
		transform:  translateX(-10px);
	}
	.menu__icon._active::after {
		transform:  translate(-20px, 1px);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #252B42;
		padding: 164px 35px 30px 35px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		background-color: #252B42;
		z-index: 2;
	}
  .menu_action{
    position: relative;
    z-index: 2;
  }
	.menu__list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
    text-align: center;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: 30px;
    line-height: 45px;
    font-weight: 500;
	}
}

._icon-shop{
  @media (max-width: $md3+px){
    @include adaptiv-value('margin-left', 24, 14, 1);
  }
}
//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
