.product {
  background: #252B42;
	&__content {
    padding-top: 112px;
    @media (max-width: $md4+px){
      padding-top: 90px;
    }
    @media (max-width: $md3+px){
      padding-top: 75px;
    }
	}

	&__text {
    color: #fff;
	}

	&__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    @media(max-width: $md4+px){
      max-width: 220px;
      margin: 0 auto;
    }
	}

	&__subtitle {
    line-height: 20px;
    letter-spacing: 0.2px;
    display: block;
    max-width: 470px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    &-media {
      display: block;
    }
    @media(max-width: $md3+px){
      margin-top: 30px;
    }
	}

}

.slider{
  margin: 0 auto;
  margin-top: 96px;
  min-height: 602px;
  @media(min-width: 1051px){
    margin-left: 20px;
  }
  @media (max-width: 370px){
    margin-left: 0px;
  }
}

.slider-slide{
  height: 100%;
}
.slide-text{
  position: relative;
  top: -200px;
  width: 240px;
  z-index: 5;
  margin-left: 20px;
  & > .btn{
    padding: 10px 36px;
    border-radius: 37px;
  }
}
.slide-img{
  position: relative;
  z-index: 5;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  max-height: 454px;
  @media ( max-width: 1050px){
    max-width: 331px;
  }
  @media ( max-width: $md3+px){
    max-width: 331px;
    margin: 0 auto;
  }
}
.slide-title {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.slide-subtitle {
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  max-width: 230px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
