
//====================================================================================================
._swiper {
	overflow: hidden;
	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		justify-content: flex-start;
		position: relative;
	}
	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}
	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: center;
		}
	}
}
.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
//====================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}
//========================================================================================================================================================

//========================================================================================================================================================
._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;
	//background-color: rgba(0, 0, 0, 0.1);
	&__line {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px 0 0 3px;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================

.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 25px;
	background-color: #23A6F0;
	font-weight: 700;
	border-radius: 5px;
	color: #fff;
	transition: all 0.3s ease;
	&:hover{
			background-color: #1393db;
	}
}

.btn-o{
	color: #fff;
	font-weight: 700;
	padding: 15px 36px;
	background: #23A6F0;
	border-radius: 37px;
	transition: all 0.3s ease;
	&:hover{
			background-color: #1393db;
	}
}

.btn-t{
	margin-left: 10px;
	padding: 15px 36px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 37px;
	color: #fff;
	font-weight: 700;
	transition: all 0.3s ease;
	&:hover{
			background-color: #fff;
			color: #000;
	}
	@media (max-width: $md3+px){
		margin-top: 25px;
		margin-left: 0px;
		color: #23A6F0;
		border-color: #23A6F0;
	}
}
